@(Token:String)

<!DOCTYPE html>

<html>
    <head>
        <title>Authorisation & Capture</title>
        <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/stylesheets/styles.css" rel="stylesheet">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
        <div class="container marketing">
            <div href="#payment" id="payment" class="row">
                <div class="col-md-8 text-left">
                    <form role="form" id="checkout" action ="/new-single-payment " method="post">
                        <p>Click the PayPal button or enter your card details:</p>
                        <div class="form-group">
                            <div class="input-group" id="dropin-ui"></div>
                        </div>
                        <input type="submit" name="Authorise" id="Authorise" value="Authorise" class="btn btn-large btn-primary pull-left">
                    </form>
                </div>
            </div>
        </div>


        <script>

        braintree.setup("@Token", "dropin", {
        container: "dropin-ui",
            paypal: {
                singleUse: true
            }

        });


        </script>
    </body>

</html>