@(Token:String)

<!DOCTYPE html>

<html>
    <head>
        <title>Custom</title>
        <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/stylesheets/styles.css" rel="stylesheet">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script
    </head>
    <body>
        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
        <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
        <div class="container marketing">
            <div id="CreditCard" href="#CreditCard" class="row">
                <form id="checkout" action="/gateway/transaction/create" method="post">
                    <div class="col-md-4">
                        <label label-default="" class="control-label">Card Number</label><br>
                        <input class="form-control" data-braintree-name="number" value="4111111111111111"><br>
                        <label label-default="" class="control-label">Expiration Date</label><br>
                        <input class="form-control" data-braintree-name="expiration_date" value="10/20"><br>
                        <label label-default="" class="control-label">CVV</label><br>
                        <input class="form-control" data-braintree-name="cvv" value="100"><br>
                        <input type="hidden" name="store_in_vault" id="store_in_vault" value="false">
                        <input type="submit" id="submit" value="Pay" class="btn btn-large btn-primary pull-left">
                    </div>

                </form>
            </div>
        </div>

        <script>

        braintree.setup("@Token", "custom", {id: "checkout"});

        </script>
    </body>

</html>