@(Token:String)

<!DOCTYPE html>

<html>
    <head>
        <title>Drop-in UI - One time payment</title>
        <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/stylesheets/styles.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <script type="text/javascript" src="https://js.braintreegateway.com/v2/braintree.js"></script>
        <div class="container marketing">
            <div href="#payment" id="payment" class="row">
                <div class="col-md-8 text-left"><br>
                    <form id="checkout" action ="/gateway/transaction/create" method="post">
                        <input type="hidden" name="store_in_vault" id="store_in_vault" value="false">
                        <div id="dropin-container"></div>
                        <input type="submit" name="Pay" id="Pay" value="Pay" class="btn btn-large btn-primary pull-left">
                    </form>
                </div>
            </div>
        </div>


        <script type="text/javascript" >

        braintree.setup("@Token", "dropin", {
            container: "dropin-container",
            paypal: {
                displayName: "TestMerchant",
                singleUse : true
                }

        });

        </script>
        <script type="text/javascript" src="https://js.braintreegateway.com/v2/braintree.js"></script>

    </body>

</html>