@(Token:String)

<!DOCTYPE html>

<html>
    <head>
        <title>Future Payment</title>
        <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/stylesheets/styles.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <script type="text/javascript" src="https://js.braintreegateway.com/v2/braintree.js"></script>
        <div class="container marketing">
            <div href="#payment" id="payment" class="row">
                <div class="col-md-8 text-left">
                    <form id="checkout" action ="/gateway/transaction/create" method="post">
                        <p>Click the PayPal button or enter your card details:</p>
                        <input type="hidden" name="store_in_vault" id="store_in_vault" value="true">
                        <div class="form-group">
                            <div class="input-group" id="dropin-ui"></div>
                        </div>
                        <input type="submit" value="Pay" class="btn btn-large btn-primary pull-left">
                    </form>
                </div>
            </div>
        </div>


        <script type="text/javascript" >

        braintree.setup("@Token", "dropin", {
        container: "dropin-ui",
        paypal: {
        displayName: "TestMerchant"
        }

        });

        </script>
    </body>

</html>