<!DOCTYPE html>

<html>
    <head>
        <title>Use Cases</title>
        <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/stylesheets/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="container marketing">
            <p> <a target="_self" href="http://localhost:9000/hermes-shortcut" title="Single Payment">Shortcut (Hermes)</a> </p>
            <p> <a target="_self" href="http://localhost:9000/non-hermes-shortcut" title="Shortcut">Shortcut (Non-Hermes)</a> </p>
            <p> <a target="_self" href="http://localhost:9000/custom" title="Custom">Custom credit card form</a> </p>
            <p> <a target="_self" href="http://localhost:9000/authcap" title="Authorisation & Capture">Authorisation & Capture</a> </p>
            <p> <a target="_self" href="http://localhost:9000/future" title="Future Payment">Future Payment</a> </p>
            <p> <a target="_self" href="http://localhost:9000/existingclient" title="Shortcut">Existing Customer</a> </p>
            <p> <a target="_self" href="http://localhost:9000/paypal-only" title="PayPal Only">PayPal Only</a> </p>
        </div>
    </body>

</html>