<!DOCTYPE html>

<html>
    <head>
        <title>Use Cases</title>
        <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/stylesheets/styles.css" rel="stylesheet">
        <link href="/assets/stylesheets/bootstrap.css" rel="stylesheet">
        <link href="/assets/stylesheets/bootstrap-responsive.css" rel="stylesheet">


    </head>
    <body>
        <div class="container marketing">
            <p> <a target="_self" href="/dropin" title="One off Payment">One off payment</a> </p>
            <p> <a target="_self" href="/hermes-shortcut" title="Hermes Shortcut">Shortcut (Hermes)</a> </p>
            <p> <a target="_self" href="/non-hermes-shortcut" title="Shortcut">Shortcut (Non-Hermes)</a> </p>
            <p> <a target="_self" href="/custom" title="Custom">Custom credit card form</a> </p>
            <p> <a target="_self" href="/authcap" title="Authorisation & Capture">Authorisation & Capture</a> </p>
            <p> <a target="_self" href="/future" title="Future Payment">Future Payment</a> </p>
            <p> <a target="_self" href="/existingclient" title="Shortcut">Existing Customer</a> </p>
            <p> <a target="_self" href="/paypal-only" title="PayPal Only">PayPal Only</a> </p>
            <p> <a target="_self" href="/onboarding" title="Marketplaces Onboarding">Marketplaces - Submerchant Onboarding</a> </p>
        </div>
    </body>

</html>