<!DOCTYPE html>

<html>
    <head>
        <title>Marketplaces - Submerchant Onboarding</title>
        <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/stylesheets/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <form class="form-horizontal" action ="/marketplace/submerchant/create" method="post">
                <div class="row">
                    <div class="col-lg-6">
                        <legend>New Submerchant</legend>
                        <label label-default="" class="control-label">Submerchant Id</label>
                        <input class="form-control" id="MerchantId"><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 pull-left">
                        <legend>Personal Details</legend>
                        <label label-default="" class="control-label">First Name</label>
                        <input class="form-control" name="FirstName">
                        <label label-default="" class="control-label">Last Name</label>
                        <input class="form-control" name="LastName" value=>
                        <label label-default="" class="control-label">Email</label>
                        <input class="form-control" name="Email" value=>
                        <label label-default="" class="control-label">Phone</label>
                        <input class="form-control" name="Phone" value=>
                        <label label-default="" class="control-label">Date of Birth</label>
                        <input class="form-control" name="DOB" value=><br>
                    </div>
                    <div class="col-md-3 pull-left">
                        <legend>Address</legend>
                        <label label-default="" class="control-label">Street Address</label>
                        <input class="form-control" name="StreetAddress">
                        <label label-default="" class="control-label">Suburb</label>
                        <input class="form-control" name="Locality" value=>
                        <label label-default="" class="control-label">State</label>
                        <input class="form-control" name="Region" value=>
                        <label label-default="" class="control-label">Post Code</label>
                        <input class="form-control" name="PostCode" value=><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 pull-left">
                        <input type="submit" id="submit" value="Save" class="btn btn-large btn-primary pull-left">
                    </div>
                </div>
            </form>
        </div><!--/.fluid-container-->
    </body>

</html>